# Dependencies
backend/node_modules/
client/node_modules/

# Environment files
server/.env
client/.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build output
client/dist/

# Uploaded files (optional)
backend/public/uploads/